<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카드등록</title>
    <link rel="icon" href="../../static/images/BIDEO_LOGO/BIDEO_favicon.png">
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="stylesheet" href="../../static/css/common/global.css">
    <link rel="stylesheet" href="../../static/css/card/card.css">
</head>

<body>
        <main class="card-page">
        <div class="my-page-content" data-v-02cfdfe9="">
            <div class="content_area" data-v-ae927bee="">
                <div class="my_payment">
                    <div data-v-50ef762d="" class="content_title has_sub">
                        <div class="title">
                            <h3>간편결제 카드 관리</h3>
                            <p class="sub_title">수수료(페널티, 수수료 등)가 정산되지 않을 경우, 별도 고지 없이 해당 금액을 결제 시도할 수 있습니다.</p>
                        </div>
                        <div class="btn_box">
                            <a class="btn btn_add" href="#" data-card-open>
                                <span class="btn_txt">+ 새 카드 추가하기</span>
                            </a>
                        </div>
                    </div>

                    <div class="my-content">
                        <div class="profile_group">
                            <h4 class="group_title hide-mobile">기본 결제 카드</h4>
                            <div class="my_item default-style basic" data-card-key="kb-default" data-basic-card>
                                <div class="info_bind">
                                    <div class="radio_item hide-radio">
                                        <span class="card-company-badge">KB</span>
                                    </div>
                                    <div class="card_info">
                                        <div class="card_num">
                                            <span class="num_bind">
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="hyphen"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="hyphen"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="hyphen"></span>
                                                <div class="last_num_box">
                                                    <span class="last_num">706</span>
                                                    <span class="dot single"></span>
                                                </div>
                                            </span>
                                            <span class="mark">기본 결제</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn_bind">
                                    <a class="btn outline_greylight small" href="#" data-card-delete>삭제</a>
                                </div>
                            </div>
                        </div>

                        <div class="profile_group">
                            <h4 class="group_title hide-mobile">등록된 카드</h4>
                            <div class="other">
                                <div class="my_item other" data-card-key="kb-default">
                                    <div class="info_bind">
                                        <div class="radio_item hide-radio">
                                            <span class="card-company-badge">KB</span>
                                        </div>
                                        <div class="card_info">
                                            <div class="card_num">
                                                <span class="num_bind">
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="hyphen"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="hyphen"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="hyphen"></span>
                                                    <div class="last_num_box">
                                                        <span class="last_num">706</span>
                                                        <span class="dot single"></span>
                                                    </div>
                                                </span>
                                                <span class="mark">기본 결제</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn_bind">
                                        <a class="btn outline_greylight small" href="#" data-card-set-default hidden>기본 변경</a>
                                        <a class="btn outline_greylight small" href="#" data-card-delete>삭제</a>
                                    </div>
                                </div>
                                <div class="my_item other" data-card-key="shinhan-1842">
                                    <div class="info_bind">
                                        <div class="radio_item hide-radio">
                                            <span class="card-company-badge">신한</span>
                                        </div>
                                        <div class="card_info">
                                            <div class="card_num">
                                                <span class="num_bind">
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="hyphen"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="hyphen"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="hyphen"></span>
                                                    <div class="last_num_box">
                                                        <span class="last_num">1842</span>
                                                        <span class="dot single"></span>
                                                    </div>
                                                </span>
                                                <span class="mark" hidden>기본 결제</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn_bind">
                                        <a class="btn outline_greylight small" href="#" data-card-set-default>기본 변경</a>
                                        <a class="btn outline_greylight small" href="#" data-card-delete>삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-modal" data-card-modal>
            <div class="card-modal__backdrop" data-card-close></div>

            <section class="card-modal__panel" role="dialog" aria-modal="true" aria-labelledby="card-modal-title">
                <header class="card-modal__header">
                    <h1 class="card-modal__title" id="card-modal-title">카드 등록</h1>
                    <button class="card-modal__close" type="button" aria-label="닫기" data-card-close>
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <path d="m12 13.06-7.67 7.67-1.06-1.06L10.94 12 3.27 4.33l1.06-1.06L12 10.94l7.67-7.67 1.06 1.06-7.67 7.67 7.67 7.67-1.06 1.06z"></path>
                        </svg>
                    </button>
                </header>

                <div class="card-modal__body">
                    <div class="card-modal__intro">
                        <p class="card-modal__headline">카드 정보를 입력하고<br>간편하게 결제하세요.</p>
                    </div>

                    <form class="card-form" autocomplete="off" novalidate data-card-form>
                        <div class="card-form__group" data-field-group>
                            <label class="card-form__label" for="birthDate">생년월일</label>
                            <input class="card-form__input" id="birthDate" name="birthDate" type="text" placeholder="YYYY/MM/DD" maxlength="10">
                            <p class="card-form__help" data-message-for="birthDate" data-default-message="카드 소유자 생년월일 8자리 (예:2000/12/01)">카드 소유자 생년월일 8자리 (예:2000/12/01)</p>
                        </div>

                        <div class="card-form__group" data-field-group>
                            <label class="card-form__label" for="expiryDate">유효기간</label>
                            <input class="card-form__input" id="expiryDate" name="expiryDate" type="text" placeholder="MM/YY" maxlength="5">
                            <p class="card-form__help" data-message-for="expiryDate" data-default-message="월/년도 순서로 4자리 숫자 (MM/YY)">월/년도 순서로 4자리 숫자 (MM/YY)</p>
                        </div>

                        <div class="card-form__group" data-field-group>
                            <label class="card-form__label" for="cardPassword">비밀번호</label>
                            <input class="card-form__input" id="cardPassword" name="cardPassword" type="password" placeholder="••" maxlength="2" inputmode="numeric">
                            <p class="card-form__help" data-message-for="cardPassword" data-default-message="비밀번호 앞 2자리">비밀번호 앞 2자리</p>
                        </div>

                        <div class="card-form__group" data-field-group>
                            <label class="card-form__label" for="cardNumber1">카드 번호</label>
                            <div class="card-number">
                                <input class="card-number__input" id="cardNumber1" name="cardNumber1" type="text" placeholder="0000" maxlength="4" inputmode="numeric">
                                <span class="card-number__dash">-</span>
                                <input class="card-number__input" name="cardNumber2" type="text" placeholder="0000" maxlength="4" inputmode="numeric">
                                <span class="card-number__dash">-</span>
                                <input class="card-number__input" name="cardNumber3" type="password" placeholder="••••" maxlength="4" inputmode="numeric">
                                <span class="card-number__dash">-</span>
                                <input class="card-number__input" name="cardNumber4" type="password" placeholder="••••" maxlength="4" inputmode="numeric">
                            </div>
                            <p class="card-form__help" data-message-for="cardNumber" data-default-message="본인 명의의 카드만 등록 가능합니다.">본인 명의의 카드만 등록 가능합니다.</p>
                        </div>

                        <div class="card-modal__actions">
                            <button class="card-action card-action--primary" type="submit">다음</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>

    <script src="../../static/js/card/card.js"></script>
    <script src="../../static/js/main/modal-shared.js"></script>
<script src="../../static/js/main/navigation.js"></script>
<script src="../../static/js/main/main.js"></script>
<script src="../../static/js/main/closeup.js"></script>
<script src="../../static/js/main/auth-modal.js"></script>
<script src="../../static/js/main/signup-modal.js"></script>
</body>

</html>
