<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>경매내역상세</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/auction/auctiondetails.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/font.css">
    <link rel="shortcut icon" href="/src/main/resources/static/images/BIDEO_LOGO/BIDEO_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/main/resources/static/css/main/main.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/main/navigation.css">
</head>

<body class="auctionBody">
    <div data-v-a1b65461="" class="my_order_detail bidding">

        <div data-v-50ef762d="" data-v-a1b65461="" class="content_title">
            <div data-v-50ef762d="" class="title">
                <h3 data-v-50ef762d="">입찰 내역</h3><!---->
            </div>
            <div data-v-a1b65461="" class="btn_box">
                <div style="display: none;"></div>
                <div data-v-eacde4f2="" data-v-68fbf382="">
                    <ul data-v-eacde4f2="" class="navigation_menu inline">
                    </ul>
                </div>
            </div><!---->
        </div>
        <div data-v-68fbf382="" data-v-a1b65461="">
            <div data-v-68fbf382=""><!----><!---->
                <div data-v-68fbf382="" class="text-header-checkout">
                    <p data-v-68fbf382="">작품</p>
                </div>
                <div data-v-68fbf382="" class="layout-list-vertical"><!---->
                    <div data-v-783b59c9="" data-v-68fbf382="" class="order_detail_header_product">
                        <div data-v-616f7cc2="" data-v-783b59c9="" class="product_wrap" tag-align="tag_top">
                            <div data-v-616f7cc2="" class="product_img_flex_box">
                                <div data-v-616f7cc2="" class="product_img_wrap">
                                    <div data-v-b3e4b5c7="" data-v-616f7cc2="" class="product product-thumbnail"
                                        style="background-color: rgb(255, 255, 255);"><!---->
                                        <picture data-v-2123b236="" data-v-b3e4b5c7="" class="picture product_img">
                                            <img data-v-2123b236="" class="base-image__image full_width"
                                                src="/src/main/resources/static/images/BIDEO_LOGO/BIDEO_weight.png"
                                                loading="lazy" draggable="false">
                                        </picture><!----><!----><!---->
                                    </div>
                                </div>
                            </div>
                            <div data-v-616f7cc2="" class="product_info_wrap">
                                <div data-v-616f7cc2="" class="product_info">
                                    <div data-v-616f7cc2="" class="product-text">
                                        <p data-v-616f7cc2="" class="product_title">타이틀</p>
                                        <p data-v-616f7cc2="" class="product_subtitle">내용</p>
                                        <p data-v-616f7cc2="" class="product_description">판매자</p>
                                    </div>
                                    <div data-v-616f7cc2="" class="product_option_wrap">
                                        <p data-v-616f7cc2="" class="product_option"><span data-v-616f7cc2=""
                                                class="product_option--name">최초 가격</span><!----></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr data-v-68fbf382="" class="divider-horizontal">
                    <div data-v-616ff8d5="" data-v-68fbf382="" class="order_header_bidding_price">
                        <ul data-v-616ff8d5="" class="price_list">
                            <li data-v-616ff8d5="" class="price_item">
                                <div data-v-616ff8d5="" class="item_inner">
                                    <p data-v-616ff8d5="" class="price_title">낙찰가</p>
                                    <p data-v-616ff8d5="" class="price"><span data-v-616ff8d5=""
                                            class="amount">10,124,000원</span><!----></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div data-v-68fbf382="" class="order_detail_header_buttons"><button data-v-bcb485a6=""
                            data-v-68fbf382="" class="display_button medium light_gray_bordered active block button"
                            style="background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); border-color: rgb(235, 235, 235);"><span
                                data-v-48d90c1d="" data-v-bcb485a6="" class="text-lookup">상품 상세</span><!----></button>
                    </div>
                </div>
            </div>
        </div><!---->
        <div data-v-a1b65461="" item="[object Object]"><!----><!----><!----><!----><!---->
            <div data-v-d9390f7a="" data-v-a1b65461="" class="order_info_items_wrap empty_header price">
                <div data-v-9f71e62c="" data-v-d9390f7a="" class="section_title">
                    <div data-v-9f71e62c="" class="title_box">
                        <h4 data-v-9f71e62c="" class="title">입찰 내역 </h4>
                    </div><!---->
                </div>
                <div data-v-d9390f7a="" class="display_section">
                    <div data-v-1de3fd76="" class="display_item empty_header price"
                        style="background-color: rgb(250, 250, 250);">
                        <div data-v-1de3fd76="" class="title_wrap" style="display: none;"><!----><!----></div>
                        <div data-v-a8aa1aac="" data-v-1de3fd76="" class="display_line heavy_text line">
                            <p data-v-48d90c1d="" data-v-830814a1="" data-v-a8aa1aac=""
                                class="text-lookup display_paragraph line_title" style="color: rgb(34, 34, 34);">구매 희망가
                            </p>
                            <div data-v-a8aa1aac="" class="description_wrap">
                                <p data-v-48d90c1d="" data-v-830814a1="" data-v-a8aa1aac=""
                                    class="text-lookup display_paragraph line_description"
                                    style="color: rgb(34, 34, 34);"><em data-v-48d90c1d=""
                                        class="text-lookup bold">100원</em></p><!----><!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---->
        </div>
        <div data-v-a1b65461="" item="[object Object]"><!----><!---->
            <div data-v-89cb68c7="" data-v-a1b65461="" class="shipping_address_wrap">
                <div data-v-9f71e62c="" data-v-89cb68c7="" class="section_title">
                    <div data-v-9f71e62c="" class="title_box">
                        <h4 data-v-9f71e62c="" class="title">회원 정보</h4>
                    </div><!---->
                </div>
                <div data-v-89cb68c7="" class="shipping_address">
                    <dl data-v-89cb68c7="" class="address_item">
                        <dt data-v-89cb68c7="" class="address_title">받는 사람</dt>
                        <dd data-v-89cb68c7="" class="address_txt">정찬호</dd>
                    </dl>
                    <dl data-v-89cb68c7="" class="address_item">
                        <dt data-v-89cb68c7="" class="address_title">휴대폰 번호</dt>
                        <dd data-v-89cb68c7="" class="address_txt">010-9588-3420</dd>
                    </dl>
                </div><!---->
            </div><!----><!----><!----><!---->
        </div>
        <div data-v-a1b65461="" item="[object Object]"><!----><!----><!----><!----><!----><!----></div>
        <div data-v-a1b65461="" item="[object Object]"><!----><!----><!----><!---->
            <div data-v-6086685f="" data-v-a1b65461="" class="payment_wrap">
                <div data-v-9f71e62c="" data-v-6086685f="" class="section_title">
                    <div data-v-9f71e62c="" class="title_box">
                        <h4 data-v-9f71e62c="" class="title">결제 정보 </h4>
                    </div>
                </div>
                <p class="payment_notice">체결 후 결제 정보 변경은 불가하며, 할부 전환은 카드사 문의 바랍니다.</p>
                <div data-v-6086685f="" class="payment_info">
                    <div data-v-d01a7765="" data-v-6086685f="" class="card_info payment_card_simple">
                        <span class="card_name card_name--bold">KB</span>
                        <p class="card_num">**** - **** - **** - 1706</p>
                    </div>
                </div>
            </div><!----><!---->
        </div>
        <div data-v-c83ad6ce="" data-v-a1b65461="" class="order_footer">
            <div data-v-c83ad6ce="" class="order_buttons"><button data-v-bcb485a6="" data-v-c83ad6ce=""
                    class="display_button large dark_filled active block button"
                    style="background-color: rgb(34, 34, 34); color: rgb(255, 255, 255);"><span data-v-48d90c1d=""
                        data-v-bcb485a6="" class="bold text-lookup">확인하기</span><!----></button></div>
        </div>
        <div data-v-a1b65461="" class="detail_btn_box"><a data-v-06b00039="" data-v-a1b65461="" href="/my/buying"
                class="btn outlinegrey medium btn_view_list" disabled="false" type="button"> 목록보기 </a></div>
    </div>


</body>
<script src="/src/main/resources/static/js/auction/auctiondetails.js"></script>

</html>